* {
    margin: 0;
}

body {
    margin: 0;
}

.navbar-collapse ul li {
    padding: 20px;
}

.nav.item ul li a {
    color: gray;
}

.nav-item :hover {
    color: red;
}

/* top-container */

/* 
.top-section{
    display: flex;
} */

.opening {
    background-image: url("https://luna1.co/2a3af5.jpg");

    background-size: cover;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.opening2 {
    background-image: url("https://luna1.co/f65a4a.jpg");
  
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.opening3 {
    background-image: url("https://luna1.co/75ab44.jpg");

    background-size: cover;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.btn1 {
    background-color: rgb(89, 216, 96);
    position: absolute;
    left: 50px;
    top: 50px;
    color: white;
}

.btn2 {
    background-color: rgba(0, 204, 255, 0.938);
    position: absolute;
    bottom: 50px;
    left: 250px;
    color: white;
}

.btn3 {
    background-color: rgb(243, 38, 82);
    position: absolute;
    right: 100px;
    top: 300px;
    color: white;
}

.btn4 {
    background-color: rgb(16, 107, 107);
    position: absolute;
    right: 50px;
    top: 50px;
    color: white;
}

.btn5 {
    background-color: rgb(240, 156, 0);
    position: absolute;
    right: 500px;
    bottom: 100px;
    color: white;
}

.btn6 {
    background-color: rgb(233, 0, 50);
    position: absolute;
    right: 100px;
    top: 300px;
    color: white;
}

.btn7 {
    background-color: rgb(16, 107, 107);
    position: absolute;
    right: 50px;
    top: 50px;
    color: white;
}

.btn8 {
    background-color: rgb(240, 156, 0);
    position: absolute;
    right: 500px;
    bottom: 100px;
    color: white;
}

.btn9 {
    background-color: rgb(233, 0, 50);
    position: absolute;
    right: 100px;
    top: 300px;
    color: white;
}

.section1 {
    display: flex;
}

.head1 {
    margin-left: 100px;
}

.card1 {
    margin-top: 150px;
    margin-left: 100px;
}

.card2 {
    margin-top: 50px;
    margin-left: 100px;
}

.right1 {
    margin-left: 100px;
    margin-top: 250px;
}

.right2 {
    margin-left: 100px;
    margin-top: 250px;
}

.right3 {
    margin-left: 50px;
    margin-top: 100px;
}

.small-images {
    margin-left: 0px;
}

.cards li {
    position: relative;
    display: flex;
}

.cards li img {
    position: absolute;
    right: 250px;
}

.cards li p {
    position: absolute;
    right: 160px;
}

.cards li i {
    position: relative;
    bottom: 0;
    left: 10px;
    top: 5px;
}

.cards li span1 {
    background-color: #7a6ff0;
    border-radius: 100px;
    width: 7%;
    height: 10px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
}

.cards li span2 {
    background-color: #7a6ff0;
    border-radius: 100px;
    width: 7%;
    height: 10px;
    display: block;
    position: absolute;
    right: 90px;
    top: 20px;
}

.cards li span3 {
    background-color: #fd612c;
    border-radius: 100px;
    width: 7%;
    height: 10px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
}

.cards li span4 {
    background-color: #fd612c;
    border-radius: 100px;
    width: 7%;
    height: 10px;
    display: block;
    position: absolute;
    right: 90px;
    top: 20px;
}

.cards li span5 {
    background-color: #4186e0;
    border-radius: 100px;
    width: 7%;
    height: 10px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
}

.cards li span6 {
    background-color: #4186e0;
    border-radius: 100px;
    width: 7%;
    height: 10px;
    display: block;
    position: absolute;
    right: 90px;
    top: 20px;
}

.cards li span7 {
    background-color: #fd9a00;
    border-radius: 100px;
    width: 7%;
    height: 10px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
}

.cards li span8 {
    background-color: #fd9a00;
    border-radius: 100px;
    width: 7%;
    height: 10px;
    display: block;
    position: absolute;
    right: 90px;
    top: 20px;
}

.cards li span9 {
    background-color: #e8384f;
    border-radius: 100px;
    width: 7%;
    height: 10px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
}

.cards li span10 {
    background-color: #e8384f;
    border-radius: 100px;
    width: 7%;
    height: 10px;
    display: block;
    position: absolute;
    right: 90px;
    top: 20px;
}

.cards li span11 {
    background-color: #37c5ab;
    border-radius: 100px;
    width: 7%;
    height: 10px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
}

.cards li span12 {
    background-color: #37c5ab;
    border-radius: 100px;
    width: 7%;
    height: 10px;
    display: block;
    position: absolute;
    right: 90px;
    top: 20px;
}

.right1 button {
    border: none;
    background-color: white;
    font-size: 19px;
    color: #796eff;
}

.right2 button {
    border: none;
    background-color: white;
    font-size: 19px;
    color: #796eff;
}

.right3 button {
    border: none;
    background-color: white;
    font-size: 19px;
    color: #796eff;
}

.check-buttons {
    margin-top: 100px;
    margin-left: 100px;
}

.graph {
    background-image: url("https://images.unsplash.com/photo-1543286386-713bdd548da4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    background-position: center;
    background-size: cover;
    height: 90vh;
    position: relative;
}

.button1 {
    position: absolute;
    top: 200px;
    left: 100px;
    border: none;
    background-color: #e8384f;
    color: white;
}

.button2 {
    position: absolute;
    top: 330px;
    left: 370px;
    border: none;
    background-color: #2b9299e7;
    color: white;
}

.button3 {
    position: absolute;
    top: 250px;
    left: 120px;
    border: none;
    background-color: #10b7ff;
    color: white;
}

.button4 {
    position: absolute;
    top: 100px;
    border: none;
    background-color: #c71677;
    color: white;
    right: 50px;
}

.button5 {
    position: absolute;
    top: 470px;
    border: none;
    background-color: #fd9a00;
    color: white;
    left: 260px;
}

.button6 {
    position: absolute;
    top: 400px;
    border: none;
    background-color: #cc2712f3;
    color: white;
    left: 350px;
}

.boards {
    display: flex;
    margin-left: 0px;
    border: none;
}

.move {
    margin-left: 100px;
}

.boards img {
    width: 200px;
}

.first {
    margin-bottom: 200px;
}

.second {
    margin-bottom: 200px;
}

.fourth-container {
    background-color: rgb(0, 31, 25);
    height: 150vh;
}

.container-heading {
    padding: 200px 0px 0px 100px;
}

.main-footer {
    display: flex;
    justify-content: space-around;
}

.main-footer h6 {
    color: gray;
}

.footer-end a{
    font-weight: 10px;
    padding-top: 50px;
    color: white;
}
